*~
distroprefs
distroprefs.old
cpandb.sql
cpandb.sql.bak
cpan_sqlite_log*
histfile
Bundle
CPAN
FTPstats.yml
Metadata
build
sources/MIRRORED.BY
sources/authors/01mailrc.txt*
sources/authors/id/A/A[A-M]
sources/authors/id/A/AN/AN[A-C]*
sources/authors/id/A/AN/ANDYA
sources/authors/id/A/AN/ANDK/[A-Za-o]*
sources/authors/id/A/AN/ANDK/[q-z]*
sources/authors/id/A/AN/AN[E-Z]*
sources/authors/id/A/A[P-Z]
sources/authors/id/[B-P]
sources/authors/id/R/R[A-T]
sources/authors/id/R/RU/RURBAN/[A-Za-o]*
sources/authors/id/R/RU/RURBAN/[q-z]*
sources/authors/id/R/RU/RU[A-Q]
sources/authors/id/R/RU/RU[S-Z]
sources/authors/id/R/R[V-Z]
sources/authors/id/[S-Z]
sources/modules
